.mn-container
  %nav
    %a.active{href:"#"}
      %span{"data-hover"=>"HOME"} HOME
    
    %a{href:"#"}
      %span{"data-hover"=>"API"} API

    %a{href:"#"}
      %span{"data-hover"=>"DOCUMENTATION"} DOCUMENTATION
        
    %a{href:"#"}
      %span{"data-hover"=>"THE TEAM"} THE TEAM